<div class="row">
    <div class="col-md-12">
        <div class="card">
            <div class="card-body">
                <div class="col text-right">
                    <button [routerLink]="['/clientes']" class="btn btn-warning">
                        <i class="fa fa-arrow-left"></i>
                        Volver
                    </button>
                </div>
                <form ngNativeValidate class="row" #formLugar="ngForm" (ngSubmit)="saveCliente(formLugar)">
                    <div class="col-6">
                        <div class="form-group m-b-0">
                            <label class="control-label">Nombre</label>
                            <div class="input-group">
                                <span class="input-group-addon input-group-prepend">
                                    <span class="input-group-text">
                                        <i class="fas fa-clock"></i>
                                    </span>
                                </span>
                                <input [(ngModel)]="lugar.name" name="name" type="text" required class="form-control">

                            </div>
                        </div>
                    </div>
                    <div class="col-6">
                        <div class="form-group m-b-0">
                            <label class="control-label">Hotel</label>
                            <div class="input-group">
                                <span class="input-group-addon input-group-prepend">
                                    <span class="input-group-text">
                                        <i class="fas fa-map-marker"></i>
                                    </span>
                                </span>
                                <input [(ngModel)]="lugar.idHotel" name="idHotel" type="text" required
                                    class="form-control">
                            </div>
                        </div>
                    </div>                                        
                    <div class="col text-right">
                        <br>
                        <button type="submit" class="btn btn-primary">
                            <i class="fa fa-save"></i>
                            Guardar
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>