<div class="row">
    <div class="col-md-12">
        <div class="card">
            <div class="card-body">
                <div class="col text-right">
                    <button [routerLink]="['/usuarios']" class="btn btn-warning">
                        <i class="fa fa-arrow-left"></i>
                        Volver
                    </button>
                </div>
                <form ngNativeValidate class="row" #formUsuario="ngForm" (ngSubmit)="saveUsuario(formUsuario)">
                    <div class="col-6">
                        <div class="form-group m-b-0">
                            <label class="control-label">Nombre</label>
                            <div class="input-group">
                                <span class="input-group-addon input-group-prepend">
                                    <span class="input-group-text">
                                        <i class="fas fa-user-circle"></i>
                                    </span>
                                </span>
                                <input [(ngModel)]="usuario.name" name="name" type="text" required class="form-control">

                            </div>
                        </div>
                    </div>
                    <div class="col-6">
                        <div class="form-group m-b-0">
                            <label class="control-label">Usuario</label>
                            <div class="input-group">
                                <span class="input-group-addon input-group-prepend">
                                    <span class="input-group-text">
                                        <i class="fas fa-map-marker"></i>
                                    </span>
                                </span>
                                <input [(ngModel)]="usuario.usuario" name="usuario" type="text" required
                                    class="form-control">
                            </div>
                        </div>
                    </div>

                    <div class="col-6" *ngIf="campoPassword">
                        <div class="form-group m-b-0">
                            <label class="control-label">Contraseña</label>
                            <div class="input-group">
                                <span class="input-group-addon input-group-prepend">
                                    <span class="input-group-text">
                                        <i class="fas fa-phone"></i>
                                    </span>
                                </span>
                                <input [(ngModel)]="usuario.password" name="password" type="password" required
                                    class="form-control">

                            </div>
                        </div>
                    </div>
                    <div class="col-6">
                        <div class="form-group m-b-0">
                            <label class="control-label">Rol</label>
                            <div class="input-group">
                                <span class="input-group-addon input-group-prepend">
                                    <span class="input-group-text">
                                        <i class="fas fa-envelope"></i>
                                    </span>
                                </span>
                                <select [(ngModel)]="usuario.role" name="role" class="form-control p-0">
                                    <option  value="USER_ROLE">Usuario</option>
                                    <option  value="ADMIN_ROLE">Admin</option>
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="col-6">
                        <label class="control-label">Estado</label>
                        <div class="demo-radio-button">

                            <input [(ngModel)]="usuario.status" name="status" type="radio" id="radio_1" [value]="true"
                                class="radio-col-light-green" required>

                            <label for="radio_1">activo</label>
                            <input [(ngModel)]="usuario.status" name="status" type="radio" id="radio_2" [value]="false"
                                class="radio-col-red" required>
                            <label for="radio_2">desactivado</label>
                        </div>
                    </div>


                    <div class="col text-right">
                        <br>
                        <button type="submit" class="btn btn-primary">
                            <i class="fa fa-save"></i>
                            Guardar
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>