<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-body">

                Lorem ipsum dolor sit amet consectetur adipisicing elit. Eveniet ad earum voluptatibus iusto optio ullam illum necessitatibus deserunt possimus quis ut repellendus nemo aperiam laboriosam soluta quibusdam error, tenetur quaerat?
                <table datatable [dtOptions]="dtOptions" class="row-border hover"></table>
                
            </div>
        </div>
    </div>
</div>